*{
    margin: 0;
    padding: 0;
}
body{
    font-family:  'Poppins', sans-serif;
}
h2{
    line-height: 83px;
    font-size: 57px;
    background: linear-gradient(86deg, #fb6957 , #ffbf21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-area{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
   overflow: hidden;
}
.text-area {
    width: 40%;
    float: left;
    padding: 92px 1px 0px 127px;
    margin: 10px 0px 0px 0;
}
.text-area img{
    width: 100%;
}
.name{background-color: #ffc41e9e;-webkit-background-clip: text;}
.text-area p {
    font-size: 16px;
    padding-top: 23px;
}

.text-area h6 {
    font-size: 16px;
    padding-top: 32px;
}
a.link-button {
    background: linear-gradient(112deg, #e01c1c, #f78667);
    padding: 13px 51px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 93px;
    margin-top: 26px;
    border-radius: 13px;
}
h2.title {
    color: black;
    -webkit-text-fill-color: #231f1f;
    padding-bottom: 18px;
}
#helf-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right center;
    overflow: hidden;
}
div#helf-text-box-1 {
    background: white;
    margin-left: 90px;
    margin-bottom:50px;
    padding: 44px;
    box-shadow: 3px 5px 14px 0px;
    border-left: 9px solid gold;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
div#helf-text-box-2{
    background: white;
    margin-left: 90px;
    margin-bottom:50px;
    padding: 44px;
    box-shadow: 3px 5px 14px 0px;
    border-left: 9px solid #2a68d0;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
p.my-title {
    color: orange;
    line-height: 1;
}
p.description {
    padding-bottom: 32px;
}
article.exparience {
    overflow: hidden;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
}

footer {
    text-align: center;
    background: black;
    color: #fff;
    padding: 10px;
}
footer h3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
}