*{
    margin: 0;
    padding: 0;
}
body{
    font-family:  'Poppins', sans-serif;
}
h2{
    line-height: 83px;
    font-size: 57px;
    background: linear-gradient(86deg, #fb6957 , #ffbf21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-area{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
   overflow: hidden;
}
.text-area {
    width: 40%;
    float: left;
    padding: 92px 1px 0px 127px;
    margin: 10px 0px 0px 0;
}
.text-area img{
    width: 100%;
}
.name{
    color: orange;
}
.text-area p {
    font-size: 16px;
    padding-top: 23px;
}

.text-area h6 {
    font-size: 16px;
    padding-top: 32px;
}
a.link-button {
    background: linear-gradient(112deg, #e01c1c, #f78667);
    padding: 13px 51px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 93px;
    margin-top: 26px;
    border-radius: 13px;
}